doctype 5
html(lang="en")
    head
        style(type='text/css').
            body {
                text-align: center;
            }
            h1 {
                color: crimson;
            }
            .blue {
                color: blue;
            }
    body
        h1 #{name}'s Pug source code!
        h1.blue Points: #{points}
        img(src=logo,height=100)
